div#nuevo {
  margin-left: 4%;
  text-align: center;
  margin-right: 4%;
  margin-top: 5%;
}

div#nuevo a{
  text-decoration: underline;
  color: #0EBFE9;
}

div#nuevo a:hover{
  text-decoration: underline;
  color: #65909A;
}

div#nuevo li{
  list-style: none;
  text-align: center;
}

div#nuevo-descripcion{
  text-align: left;
  margin-left: 15%;
}

div#nuevo-button{
  margin-bottom: 5%;
}
