div#main {
    text-align: center;
    margin-top: 10%;
}

div#main-nuevo {
    margin-top: 5%;
}

@media (max-width: 800px) {
  div#main {
      text-align: center;
      margin-top: 40%;
  }
}

@media (max-width: 600px) {
  div#main {
      text-align: center;
      margin-top: 50%;
  }
}

@media (max-width: 400px) {
  div#main {
      text-align: center;
      margin-top: 60%;
  }
}
